.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 0;
  padding: 0;
  width: 95%;
  z-index: 10;
  background-color: white;
  list-style: none;
  overflow-y: auto;
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-custom {
  background-color: #3D4242;
  color: white;
}

.suggestion-custom:hover,
.suggestion-active,
.suggestions li:hover {
  cursor: pointer;
  background-color: #1D2C64;
  color: white;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid white;
}
