.course-card {
  margin-bottom: 20px;
  border: 1px solid #5ABCF0;
  border-radius: 10px;
}

.course-card:hover {
  border-color: white;
}

.course-label {
  display: inline-block;
  padding: 10px;
  font-weight: 200;
  border-radius: 10px;

}

.course-name {
  font-weight: 600;
}

.course-description {
  font-weight: 300;
}

.overlay-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-text {
  font-weight: 200;
  font-size: 1.75em;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  padding: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid inherit;
}

.overlay:hover {
  opacity: 1;
  
}
.btn-outline-light {
  border-radius: 10px;
}
